@font-face {
    font-family: netflix-sans-regular;
    src: url("fonts/netflixSand_W_Rg.woff2");
  }
  
  body{
    padding:0px;
    margin: 0px;
    overflow-y:hidden;
    
  }
  
  .root{
  background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url("image/netflix.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
  }
  
  .navbar{
    padding-top: 3%;
    padding-left: 3vw;
    padding-right: 4vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .img-logo {
  width: 14%;
  color: #e50914;
  }
  
  .btn-sign-in {
  background-color: #e50914;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    color: white;
    cursor: pointer
    width fit-content;
    border-radius: 15rem;
  
  }
  
  .main-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .main-titles-container{
    color: white;
    text-align: center;
    width: 45%;
  }
  
  .main-title{
    font-family: netflix-sans-regular;
  
      font-size: 3.2em;
      margin-bottom: 14px;
  }
  
  
  .main-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .main-call-to-action{
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
  }
  
  .main-email-container-input{
  
  width: 55%;
  height: fit-content;
  background-color: #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
  }
  
  
  .main-email-container-input{
  outline: none;
  border: none;
  padding: 05px 68px;
  font-size: 1em;
  text-align: center;
  
  }
  
  .btn-get-started {
  cursor: pointer;
  padding: 05px 05px;
  font-family: arial,helvetica,sans-serif;
  height: fit-content;
  background-color: #e50914;
  color:white;
  font-size: 1.0em;
  text-transform: uppercase;
  text-align: center;
  
  }
  
  .btn-get-started:hover {
  
    background-color: #ff0b18;
   
    
    }